# startupProbe 진단 성공이 될 때까지 livenessProbe는 실행되지 않는다.
---
apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod-startup
spec:
  containers:
    - name: myapp
      image: ghcr.io/nobreak-labs/go-myweb:alpine
      ports:
        - containerPort: 8080
          protocol: TCP
      startupProbe:
        httpGet:
          path: /health
          port: 8080
      livenessProbe:
        httpGet:
          path: /health
          port: 8080
